h1 {
	color: dimgray;
	font-family: arial;
}

canvas {
	width: 500px;
	height: 200px;
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* Developed by Mohammad Kiaei */
